<section class="champions-header-container">
  <div class="champions-header-content">
    <div class="champions-header">
      <div class="user-logged">
        <span>{{tokenService.getUsername()}}
          <mat-icon class="mat-18" color="accent">verified_user</mat-icon>
        </span>
      </div>
      <div class="supertitle">
        <p>Escolha o seu</p>
      </div>
      <div class="title">
        <h1>Campeão</h1>
      </div>
      <div class="body">
        <p>São mais de <b>140</b> campeões. Domine um, ou conquiste todos! Cada campeão carrega sua própria história, poderes e desafios. Qual será o seu destino na Liga?</p>
        <small>🌟 Dica: Crie sua lista de favoritos personalizada apenas dando um ❤️ e acesse seus campeões preferidos.</small>
      </div>
    </div>
  </div>
</section>
