@import '../../../../../config-scss/rem-calc.scss';

.favorite-header-container {
  padding: rem-calc(24);

  & .favorite-header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;

    & .back-home-button{
      border-radius: rem-calc(13);
    }
    & .favorite-header {
      text-align: center;
      flex-direction: column;
      -webkit-box-pack: end;
      justify-content: end;
      -webkit-box-align: center;
      max-width: rem-calc(1056);
      }

      & .supertitle {
        font-family: Spiegel, sans-serif;
        font-weight: 400;
        word-break: break-word;
        font-size: rem-calc(22);
        text-transform: uppercase;
      }

      & .title {
        text-wrap: balance;
        word-break: break-word;
        font-family: "Beaufort for LOL", sans-serif;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        font-size: rem-calc(50);
        line-height: 0;
      }
    }
  }

@media (max-width: 768px) {
  .favorite-header-container {
    width: auto;

    & .favorite-header-content {
      & .favorite-header {
        width: 100%;
        & .title {
          font-size: rem-calc(30);
        }
      }
    }
  }
}
