<section class="banner">
  @if(championDetails$ | async; as championDetails){
    <div class="main-banner">
      <div class="backdrop"></div>
      <img class="main-banner-img" [src]="championDetails.images.splash" loading="lazy" alt="{{ championDetails.name }}">
      <div class="main-banner-infos">
        <div class="main-banner-top-content">
            <span>{{championDetails.title}}</span>
            <h1>{{championDetails.name}}</h1>
            <p>{{championDetails.lore}}</p>
            <div class="roles">
              @for (tag of championDetails.tags; track $index) {
                <div class="roles-info">
                  <div class="roles-wrapper">
                    <img [src]="getIconForTag(tag)" loading="lazy" alt="{{ tag }} icon" />
                    <p>{{getNameForTag(tag)}}</p>
                  </div>
                </div>
              }
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="title">
        <span>Habilidades</span>
      </div>
      <div class="content">
      @for (spell of championDetails.spells; track $index) {
          <mat-card class="skills-card">
            <mat-card-header>
              <mat-card-title class="skills-card-title"> {{ getLastLetter(spell.id) }} - {{spell.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{spell.description}}</p>
            </mat-card-content>
          </mat-card>
        }
        <mat-card class="skills-card">
          <mat-card-header>
            <mat-card-title class="skills-card-title"> Passiva - {{championDetails.passive?.name}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{championDetails.passive?.description}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div>
      <div class="container">
        <div class="title">
          <span>Skins Disponíveis</span>
        </div>
        <div class="content">
          @for (skin of championDetails.skins; track $index) {
            <mat-card class="skin-card">
              <mat-card-content>
                <img [src]="skin.loading" loading="lazy" alt="{{ skin.name }}">
              </mat-card-content>
              <mat-card-footer>
                <div class="avatar">
                  <p class="skin-name">{{ skin.name }}</p>
                  <div class="avatar-wrapper">
                    <div class="rune">
                      <div class="rune-wrapper">
                        <img src="https://wiki.leagueoflegends.com/en-us/images/thumb/Electrocute_rune.png/55px-Electrocute_rune.png?9d28d" loading="lazy" alt="eletrocute">
                      </div>
                      <div class="rune-wrapper">
                        <img src="https://wiki.leagueoflegends.com/en-us/images/thumb/Press_the_Attack_rune.png/55px-Press_the_Attack_rune.png?baa0b" loading="lazy" alt="ignite">
                      </div>
                    </div>
                    <div class="profile">
                      <img [src]="'https://ddragon-webp.lolmath.net/latest/img/profileicon/' + (1000 + $index) + '.webp'" loading="lazy" alt="Dynamic Image">
                    </div>
                    <div class="spell">
                      <div class="spell-wrapper">
                        <img src="https://wiki.leagueoflegends.com/en-us/images/Heal.png?e5e6a" loading="lazy" alt="heal">
                      </div>
                      <div class="spell-wrapper">
                        <img src="https://wiki.leagueoflegends.com/en-us/images/Ignite.png?e6f55" loading="lazy" alt="ignite">
                      </div>
                    </div>
                  </div>
                  <p class="nickname">Grupo_Nexus</p>
                </div>
              </mat-card-footer>
            </mat-card>
          }
        </div>
      </div>
</div>
  }
</section>
