@import '../../../../../config-scss/rem-calc.scss';

.favorites-empty-container {
  padding: rem-calc(32) rem-calc(16);
  margin: 0 auto;
  max-width: rem-calc(756);
  text-align: center;

  .favorites-empty-content {
    .subtitle {
      margin-bottom: rem-calc(16);
      font-size: rem-calc(32);
      font-weight: bold;
      color: #323223;
    }

    .description {
      margin-bottom: rem-calc(16);
      font-size:rem-calc(16);
      font-weight: 300;
      color: #636363;
    }
  }
}
