@import '../../../config-scss/rem-calc.scss';

.error-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem-calc(8);
  background-color: #f87171;
  color: white;
  border-radius: rem-calc(8);
  box-shadow: 0 rem-calc(4) rem-calc(6) rgba(0, 0, 0, 0.1);
  margin-bottom: rem-calc(30);

  animation: shake 0.5s ease-in-out;

  & p{
    font-size: rem-calc(14);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
